
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/*RESET*****************************************************************************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
    color: white;
}

img {
	max-width: 100%;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

/*FONTS*****************************************************************************************/

/*GENERAL*****************************************************************************************/

.row {
	display: flex;
	flex-wrap: wrap;
}

:root {
	--view: #141922;
    --player: #282828;
    --aside-main: #080b12;

    --font-tr: #848484;
    --icon-tr: #a3a3a3;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.container {
    display: flex;

    flex-grow: 1;
}

/*SIDEBAR*****************************************************************************************/

header {
    background-color: black;

    width: 230px;
    flex-shrink: 0;
}

.container-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    height: calc(100% - (20px + 5px));

    margin: 20px 20px 5px 20px;
}

.container-header > img {   /*logo Spotify*/
    width: 130px;
}

.container-header .s-hsl { /*sidebar-home search library*/
    display: flex;
    flex-direction: column;
    gap: 12px;

    font-size: 10px;
}

.container-header li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
}

.container-header li img {
    width: 20px;
}

.container-header .s-playlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.s-playlist h3 {
    text-transform: uppercase;
    font-size: 12px;
}

.container-header .s-crea-playlist {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.s-crea-playlist i {
    font-size: 35px;
    color: var(--icon-tr);
}

.s-crea-playlist span {
    font-size: 12px;
    color: var(--font-tr);
}

.container-header .s-playlist-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 11px;
    color: var(--font-tr);

    margin-bottom: auto;
}

.container-header .install {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    color: var(--font-tr);
    font-size: 11px;

    padding: 10px 0;
    border-bottom: solid 1px var(--font-tr);
}

.install svg {
    width: 13px;
}

.container-header .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    color: white;
    font-size: 12px;
}

.user svg {
    background-color: var(--icon-tr);
    aspect-ratio: 1/1;
    object-fit: cover;
    
    width: 25px;

    border-radius: 999px;
}


@media only screen and (max-width: 576px) {
	
    header {
        width: 50px;
    }

}

/*MAIN********************************************************************************************/

main {
    background-color: var(--view);
    
    flex-grow: 1;
}

main .m-top-bar {   /*barra superiore main*/
    height: 90px;
    background-color: var(--aside-main);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 5px;
}

main .m-top-bar a {
    text-transform: uppercase;

    line-height: 42px;
    padding: 0 42px;

    border: 1px solid white;
    border-radius: 999px;

    font-size: 12px;
    font-weight: 600;
    color: white;
}

/*PLAYER******************************************************************************************/

aside {
    background-color: var(--player);

    height: 90px;
    flex-shrink: 0;

    width: 100%;

    padding: 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 210px;
}

.pl-brano {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.pl-brano img {
    width: 42px;
}

.pl-brano h4 {
    font-size: 11px;
    line-height: 13px;
}

.pl-brano span {
    font-size: 10px;
    line-height: 12px;

    color: var(--font-tr);
}

.pl-icone {
    display: flex;
    gap: 14px;

    font-size: 14px;
    color: var(--font-tr);
}


.p-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.p-center ul {
    display: flex;
    align-items: center;
    gap: 22px;

    font-size: 14px;
}

.p-center .fa-circle-play {
    font-size: 30px;
    padding: 0 10px;
}

.pc-progbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}

.p-center span {
    font-size: 10px;
}

.p-center .progbar {
    width: 30vw;
    height: 4px;

    border-radius: 999px;

    background-color: var(--font-tr);

    position: relative;
}

.p-center .progbar-progression {
    width: 20%;
    height: 4px;

    border-radius: 999px;

    background-color: white;
    
    position: absolute;
    left: 0;

    z-index: 1;
}

.p-right ul {
    display: flex;
    align-items: center;
    gap: 17px;

    font-size: 14px;
}

.pr-volume {
    display: flex;
    align-items: center;
    gap: 14px;
}

.p-right .progbar {
    width: 118px;
    height: 4px;

    border-radius: 999px;

    background-color: var(--font-tr);

    position: relative;
}

.p-right .progbar-progression {
    width: 24px;
    height: 4px;

    border-radius: 999px;

    background-color: white;
    
    position: absolute;
    left: 0;

    z-index: 1;
}


@media only screen and (max-width: 768px) {
	
    .pl-icone {
        flex-direction: column;
    }

    .p-left {
        width: 155px;
        flex-shrink: 0;
    }

}